$primary: #032CA6;
$secondary: #ffffff;
$third: #F28705;
$text: #0D0D0D;

.register-card {
  width: 800px;
  color: $primary;
  background-color: $secondary;
  border-radius: 10px;
  border: 1px $third;
  border-style: solid;
}

.register-component {
  background-color: $third;
}

.h3 {
  color: $text;
}

.form-group {
  color: $text;
  font-size: small;
  font-style: italic;
}

.img {
  background-image: url("/assets/images/login-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  .register-card {
    width: 400px;
  }
  .img {
    height: 200px;
  }
}
