card-text-center{
    margin-top: auto;
    text-align: left;
}

/* .prova::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #032CA6;
    opacity: 0.1;
} */