<tnv-welcome-header title="Raw & Order" description="blabla"
></tnv-welcome-header>
<div class=" row mt-3">
  <div class="col-12">
  </div>
  <div class="prova card text-center">
    <div class="card-header">
      Regole
    </div>
      <div class="card-body">
        <h5 class="card-title">Come si gioca</h5>
        <ul>
          <li class="card-text"> L'utente dovrà mettere in ordine dieci film, secondo il criterio scelto casualmente.</li>
          <li class="card-text"> Una volta terminato il gioco l'utente potrà decidere se salvare i film nella propria
            lista dei preferiti,
            in tal caso può lasciare una recensione/commento e dare un voto.
          </li>
        </ul>
        <p class="card-text"></p>
        <button class="btn btn-primary col-2" type="button" routerLink="/game" routerLinkActive="active">Gioca</button>
      </div>
      <div class="card-footer text-muted">
        Buona Fortuna!
      </div>
  </div>