@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$primary: #032CA6;
$secondary: #ffffff;
$third: #F28705;
$text: #0D0D0D;

card-text-center{
    margin-top: auto;
    text-align: left;
}

h5{
    font-family: 'Staatliches', cursive;
}

.card-footer{
    font-family: 'Staatliches', cursive;
}