<div class="card-shadow" style="width: 13rem;">
  <img [src]="imageBaseUrl + movie.poster_path" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">
      {{ movie.title | titlecase }}
    </h5>
    <p class="card-text"></p>
  </div>
  <form>
    <select name="posizioneFilm" class="form-select form-select-md" aria-label=".form-select-md example">
      <option selected>Scegli l'ordine</option>
      <option value="1">{{this.movie.title}}</option>
      <option value="2">{{this.movie.title}}</option>
      <option value="3">{{this.movie.title}}</option>
      <option value="4">{{this.movie.title}}</option>
      <option value="5">{{this.movie.title}}</option>
      <option value="6">{{this.movie.title}}</option>
      <option value="7">{{this.movie.title}}</option>
      <option value="8">{{this.movie.title}}</option>
      <option value="9">{{this.movie.title}}</option>
      <option value="10">{{this.movie.title}}</option>
    </select>
  </form>
</div>