<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Utente</div>
         <span>Nome</span> <span class="profile-data">{{ currentUser.name }}</span>
         <span>Cognome</span>
         <span class="profile-data">{{ currentUser.surname }}</span>
         <span>Username</span>
         <span class="profile-data">{{ currentUser.username }}</span>
      </div>
    </div>
    <tnv-logout class="logout-button mt-3"></tnv-logout>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Profilo</button>

<hr>

<pre>{{ closeResult }}</pre>


<h2>Lista dei preferiti</h2>
<div class="favorite-list-body">
  <tnv-favorite-movie>
  </tnv-favorite-movie>
</div>
    