@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.profile-data {
    font-weight: bold;
}

.favorite-list-body h2{
    text-align: center;
    font: bold;
    font-family: 'Staatliches', cursive;
}