<div class="mb-3">
    <form #addreview="ngForm" (ngSubmit)="onSubmit(addreview)">
        <label for="recensione" class="form-label">Inserisci recensione</label>
        <textarea [ngModel] name="recensione" type="text" class="form-control" 
        placeholder="Inserisci recensione" id="recensione" [(ngModel)]="currentRecensione" #name="ngModel" rows="3"></textarea>
        <button type="submit" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit px-3 mt-2">Inserisci</button>
      </form>
</div>
