$primary: #032CA6;

.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: $primary;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: $primary;
  }