$primary: #032CA6;
$secondary: #ffffff;
$third: #F28705;
$text: #0D0D0D;

h1 {
    text-align: center;
    
}

.startGame-button {
    margin-bottom: 2rem;
}

.margin {
    margin-left: 2rem;
}

.select{
    align-items: center;
}