$primary: #032CA6;
$secondary: #ffffff;
$third: #F28705;
$text: #0D0D0D;

.h1 {
    text-align: center;
    font-style: italic;
    align-items: center;
    color: $primary;
}

.startGame-button {
    margin-bottom: 2rem;
}
