<div class="container">
    <div class="row">
        <div (ngSubmit)="startGame()" class="startGame-button d-grid gap-2 col-4 mx-auto">
            <button type="submit" *ngIf="startGame" class="btn btn-primary btn-lg" (click)="startGame()">Inizia il gioco</button>
        </div>
        <br>
        <h1>Ordina i film in base {{this.criterion.label}}</h1>
        <br>
        <tnv-game-item
            *ngFor="let movie of movies"
            [movie]="movie"
            class="col-12 col-sm-6 col-md-3 py-2"
        ></tnv-game-item>
        <tnv-game-select>
        </tnv-game-select>
        <form #end="ngForm" (ngSubmit)="finish(end)">
            <button type="submit" *ngIf="finish" class="form-label btn btn-primary rounded submit px-3 mt-2">Aggiungi ai preferiti</button>
          </form>
</div>
