<footer class="container-fluid p-5">
    <div class="row">
      <section class="col-12 col-lg-4 p-2">
        <h2 class="footer-section-title">Powered by</h2>
        <img src="../../../assets/images/tmdb.svg.png" alt="">
      </section>
      <section class="col-12 col-lg-4 p-2">
        <h2 class="footer-section-title">Contatti</h2>
        <p>Alex:...</p>
        <p>Francesca:...</p>
        <p>Luca:...</p>
      </section>
      <section class="col-12 col-lg-4  p-2">
        <h2 class="footer-section-title">Credits</h2>
        Questo sito è realizzato da Alex Francesca e Luca 
      </section>
    </div>
  </footer>
