footer {
  background-color: #032CA6;
  color: white;
}

table {
  border: 1px solid lightgray;
  width: 80%;
}

table td, table th {
  padding: 4px;
  text-align: left !important;
}

table th {
  background-color: white;
  color: #8C2703;
}