<div class="container">
  <div class="row align-items-start">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Utente</th>
            <th scope="col">Punteggio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{users[0].username}}</td>
            <td>{{bestRanking[0].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{users[1].username}}</td>
            <td>{{bestRanking[1].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{users[2].username}}</td>
            <td>{{bestRanking[2].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>{{users[3].username}}</td>
            <td>{{bestRanking[3].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>{{users[4].username}}</td>
            <td>{{bestRanking[4].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>{{users[5].username}}</td>
            <td>{{bestRanking[5].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>{{users[6].username}}</td>
            <td>{{bestRanking[6].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>{{users[7].username}}</td>
            <td>{{bestRanking[7].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>{{users[8].username}}</td>
            <td>{{bestRanking[8].gamePoints}}</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>{{users[9].username}}</td>
            <td>{{bestRanking[9].gamePoints}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="img col-4">
      <img src="../../../assets/images/podio.jpg">
    </div>
  </div>
</div>