<form>
    <p> Prima posizione </p>
    <select id="primaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Seconda posizione </p>
    <select id="secondaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Terza posizione </p>
    <select id="terzaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Quarta posizione </p>
    <select id="quartaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Quinta posizione </p>
    <select id="quintaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Sesta posizione </p>
    <select id="sestaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Settima posizione </p>
    <select id="settimaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Ottava posizione </p>
    <select id="ottavaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Nova posizione </p>
    <select id="nonaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <p> Decima posizione </p>
    <select id="decimaPosizioneFilm" class="form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Scegli l'ordine</option>
        <option value="1">{{ movies[0].title }}</option>
        <option value="2">{{ movies[1].title }}</option>
        <option value="3">{{ movies[2].title }}</option>
        <option value="4">{{ movies[3].title }}</option>
        <option value="5">{{ movies[4].title }}</option>
        <option value="6">{{ movies[5].title }}</option>
        <option value="7">{{ movies[6].title }}</option>
        <option value="8">{{ movies[7].title }}</option>
        <option value="9">{{ movies[8].title }}</option>
        <option value="10">{{ movies[9].title }}</option>
    </select>
    <button type="submit" *ngIf="onSubmit" class="form-label btn btn-primary rounded submit px-3 mt-2">Film ordinati</button>
</form>